# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Editor specific files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# Docker - if you have local overrides not for sharing
docker-compose.override.yml 